DERQ_API_KEY=your_derq_api_key_here

ARCGIS_USERNAME=your_username_here
ARCGIS_PASSWORD=your_password_here
ARCGIS_PORTAL_URL=https://maps.trpa.org/portal

DRY_RUN=true

EMAIL_FROM=info@trpa.org
EMAIL_TO=gis@trpa.gov
SMTP_HOST=mail.smtp2go.com
SMTP_PORT=25